  <div class="container"><h2>Customers list : </h2> </div>
  <div class="container customer-all">
   <app-customer-card  *ngFor="let data of (customers$ | async)"
    [customer] = 'data'
   >
   </app-customer-card>
    <!-- <mat-progress-spinner *ngIf="(dataLoaded | async)"
      diameter="60"
      class="spinner-border mx-auto d-flex mt-4 mb-4"
      mode="indeterminate"
      [color]="'accent'"
    ></mat-progress-spinner> -->
  </div> 
  <div class="container">
   <div class=""> Current page {{customersCurrentPage}} </div>
   <div class="btn" role="button" (click)="previewsPage" >previews page </div>
   <span>From {{firstPage}} to  {{lastPage}}  </span>
   <div class="btn" role="button" (click)="nextPage" >Next page </div>
  </div>
  <br>