
<div class="container">

    <h3> Details for product number {{ productId }} </h3>
    <table class="table">
        <thead>
            <th>   ProductID  </th> 
            <th>   ProductName   </th> 
            <th>   SupplierID  </th> 
            <th>   CategoryID  </th> 
            <th>   Price  </th> 
            <th>   Unit  </th> 
        </thead>
        <tr *ngFor="let p of (productsDetails | async)">  
            <td>   {{ p.ProductID }}   </td>
            <td>  {{ p.ProductName }} </td> 
            <td> {{ p.SupplierID }} </td> 
            <td>  {{ p.CategoryID }} </td> 
            <td>  {{ p.Price }} </td> 
            <td>  {{ p.Unit }} </td> 
        </tr>

    </table>
</div>
