
<h3>Customer {{customerID}} Order list</h3>
<table  class="table"> 
    <thead>
        <th scope="col"> OrderID </th>
        <th scope="col">CustomerID </th>
        <th scope="col">EmployeeID </th>
        <th scope="col">OrderDate</th>
        <th scope="col">ShipperID </th>
    </thead>
    <tr  *ngFor="let order of (ordersArray$ | async) ">
        <td> {{ order.OrderID }} </td>
        <td> {{ order.CustomerID }}</td>
        <td> {{ order.EmployeeID }}</td>
        <td> {{ order.OrderDate }}</td>
        <td> {{ order.ShipperID }}</td> 
        <!-- <span> {{ getOrderDetails(order.OrderID)}} </span> -->
    </tr>
</table>
